@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-roboto);
  
  background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/098/513/small/chinese-new-year-hanging-lanterns-png.png'), linear-gradient(145deg, #14031e, #000001);
  /* background-size: cover, cover; */
  background-repeat: repeat-x;
  /* background-blend-mode: overlay; */
  font-family: var(--font-roboto);
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #123054 0%, #000000 100%);
  overflow: auto;
  position: relative;
  
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the stars are behind other elements */
  transform: rotate(-45deg);
}

.star {
  --star-color: #f5c518; /* IMDb gold color */
  --star-tail-length: 30em;
  --star-tail-height: 2px;
  --fall-duration: 12s;
  --fall-delay: 0s;
  --star-width: calc(var(--star-tail-length) / 16);
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  background: linear-gradient(45deg, #f5c518, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 14px #f5c518);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, #f5c518, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

/* Randomly position and animate stars */
.star:nth-child(1) {
  --top-offset: 0vh;
  --fall-duration: 9s;
  --fall-delay: 0s;
}

.star:nth-child(2) {
  --top-offset: 10vh;
  --fall-duration: 10s;
  --fall-delay: 1s;
}

.star:nth-child(3) {
  --top-offset: 20vh;
  --fall-duration: 11s;
  --fall-delay: 2s;
}

/* Repeat for more stars with varying properties */
.star:nth-child(4) {
  --top-offset: 30vh;
  --fall-duration: 9.5s;
  --fall-delay: 1.5s;
}

.star:nth-child(5) {
  --top-offset: 40vh;
  --fall-duration: 10.5s;
  --fall-delay: 0.5s;
}
.star:nth-child(6) {
  --top-offset: 50vh;
  --fall-duration: 12.5s;
  --fall-delay: 0.9s;
}
.star:nth-child(7) {
  --top-offset: 60vh;
  --fall-duration: 14.5s;
  --fall-delay: 1.2s;
}
.star:nth-child(8) {
  --top-offset: 70vh;
  --fall-duration: 18.5s;
  --fall-delay: 2.5s;
}
.star:nth-child(9) {
  --top-offset: 90vh;
  --fall-duration: 19.5s;
  --fall-delay: 4.5s;
}
.star:nth-child(10) {
  --top-offset: 100vh;
  --fall-duration: 20.5s;
  --fall-delay: 5.5s;
}


.app {
  padding: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0.477) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}


.search {
  width: 71%;
  margin: 4rem 0 2rem;
  /* padding: 1.5rem 1.75rem; */
  
  padding: 1.5rem 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid magenta; */
  border-radius: 3rem;
  background: #1f2123;
  /* -webkit-box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
  /* box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527; */
}



.search input {
  flex: 1;
  /* border: 2px solid red; */
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  /* padding-right: 1rem; */

  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}


.empty {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.empty h2 {
  font-size: 1.25rem;
  color: #f9d3b4;
  font-family: var(--font-raleway);
}

.container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie {
  width: 210px;
  height: 360px;
  margin: 1.5rem;

  position: relative;
  border-radius: 12px;
  overflow: hidden;
  border: none;

  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.movie #year {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}
#imdb-btn{
  position: absolute;
  top:40%;
  left:15%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#imdb-btn img{
  width: 150px;
  border-radius: 10px; 
  border: 4px solid transparent;
  padding: 4px;
  box-sizing: border-box;
  transition: border 0.5s ease;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.movie:hover #imdb-btn{
  opacity: 1;
}

.movie:hover #imdb-btn img {
  border-color: #f5c518; /* IMDB yellow */
  animation: border-animation 1s infinite;
}

.movie #poster {
  width: 100%;
  height: 100%;
}

.movie #poster img {
  height: 100%;
  width: 100%;
}

.movie #type_title {
  z-index: 2;
  background-color: #343739;
  padding: 6px 14px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.movie #type_title span {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #f0f0f0;
}

.movie #type_title h3 {
  margin-top: 5px;
  font-family: "Roboto Slab", serif;
  color: #f9d3b4;
}

.movie:hover #poster {
  height: 100%;
  opacity: 0.3;
}

.movie:hover #type_title {
  background-color: transparent;
}

.movie:hover #year {
  opacity: 1;
}

.footer h1{
  margin-top: 2rem;
  /* padding: 2rem 0; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1f2123; */
  color: #f9d3b4;
  font-family: var(--font-raleway);
  font-size: 1.5rem;
}

.footer img {
  width: 54px;
  height: 54px;
  /* margin: 0 0.5rem; */
  vertical-align: text-top;
}

@keyframes border-animation {
  0% {
    border-color: #f5c518; /* IMDB yellow */
  }
  25% {
    border-color: #000; /* Black */
  }
  50% {
    border-color: #f5c518; /* IMDB yellow */
  }
  75% {
    border-color: #000; /* Black */
  }
  100% {
    border-color: #f5c518; /* IMDB yellow */
  }
}
@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }

  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }

  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
  .footer{
    width: 40%;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 4rem 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .container {
    margin-top: 2rem;
  }

  .movie {
    width: "100%";
    margin: 1rem;
  }
  .footer{
    width: 80%;
  }
  .footer h1{
    font-size: 16px;
  }
}
